
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap');

:root{
  --background-color: #FFFCEA;
  --dark-green-color: #1A3B04;
  --dark-green-color-hover: #071001;
  --green-color: #415c2b;
}


body{
  background-color: var(--background-color);
  color: var(--dark-green-color);
  display: flex;
  margin: 0;
}

h1, h2{
  font-family: "Merienda", cursive;
  font-weight: 800;
}

h2{
  font-size: 50px;
}

button{
  background-color: var(--dark-green-color);
  color: white;
  width: 80px;
  border-radius: 1rem;
  cursor: pointer;
  border: 0;
}

button:hover{
  background-color: var(--green-color);
}

.flexed{
  display: flex;
}
