@font-face {
  font-family: 'Moreganic';
  font-weight: 400;
  src: url('/fonts/Moreganic.ttf') format('truetype');
}

@font-face {
  font-family: 'Moreganic';
  font-weight: 500;
  src: url('/fonts/Moreganic.ttf') format('truetype');
}

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base{
  html{
    @apply scrollbar scrollbar-track-lime-100 scrollbar-thumb-lime-700
  }
  body {
    @apply font-serif text-lime-800 from-lime-200 bg-gradient-to-t;
  }
  h1,h2,h3,h4,h5,h6{
    @apply font-serif cursor-default my-3;
  }
  button{
    @apply bg-lime-900 text-white rounded-l-full rounded-r-full p-2 px-4 hover:bg-lime-600 hover:scale-105;
  }
}

@layer components{
  .tag{
    @apply bg-lime-800 text-white py-1 px-3 rounded-l-full rounded-r-full mx-1 cursor-pointer flex justify-center transition-all duration-300 ease-in select-none;
  }

  .nav-bar{
    @apply fixed z-50 bg-lime-900 text-white flex items-center justify-between sm:pb-4 
      sm:top-0 sm:right-0 sm:left-auto sm:flex-col sm:h-full sm:w-20 sm:pr-0
      top-0 left-0 flex-row h-20 w-full pr-4
    ;
  }

  .icon_button{
    @apply hover:text-lime-600
  }
  
  .skills{
    @apply pt-5 flex w-full overflow-x-auto scrollbar scrollbar-track-lime-100 scrollbar-thumb-lime-700
  }
}