
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap');

:root{
  --background-color: #fdf5c3;
  --dark-green-color: #1A3B04;
  --dark-green-color-hover: #071001;
  --green-color: #415c2b;
}


body{
  background-color: var(--background-color);
  color: var(--dark-green-color);
  display: flex;
  margin: 0;
  font-size: small;
}

h1, h2, h3{
  font-family: "Merienda", cursive;
  font-weight: 800;
}

h2{
  font-size: 50px;
}

h3{
  font-size: 25px;
}

ul{
  padding-left: 0;
}

li{
  list-style-type: none;
  display: flex;
  align-items: center;
  padding: 1ch;
}

button{
  background-color: var(--green-color);
  color: white;
  width: 80px;
  border-radius: 1rem;
  cursor: pointer;
  border: 0;
  padding: 1.5ch;
}

button:hover{
  background-color: var(--dark-green-color);
}

.flexed{
  display: flex;
}

.padded{
  padding: 1rem;
}