.home_page{
    margin: 4vw 40vw 18vh 8vw;
    padding: 1rem;
    animation: float 8s infinite ease-in-out;
}

@keyframes float {
    0% {
        translate: 0 0%;
    }
    50% {
        translate: 0 0.5%;
    }
    100% {
        translate: 0 0%;
    }
}