.bamboos{
    position: fixed;
    right: -95vw;
    top: -100svh;
    height: 300%;
    width: 150vw;
    z-index: 45;
    filter: contrast(200%);
    filter: brightness(70%);

    transform-origin: 0% 100%;
    animation: sway 10s infinite linear;
    pointer-events: none;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.bamboos2{
    position: fixed;
    left: -88vw;
    top: -50svh;
    height: 250%;
    width: 100vw;
    transform: scaleX(-1);
    z-index: -45;
    filter: saturate(70%);

    animation: sway 20s infinite linear;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

@media (max-width: 850px) {
    .bamboos{
        top: -100svh;
        right: -125vw;
    }

    .bamboos2{
        left: 50vw;
    }
}

@media (max-width: 640px) {
    .bamboos{
        top: -50ch;
        right: -340vw;
        height: 250%;
        width: 1500px;
    }

    .bamboos2{
        left: 100vw;
    }
}

@media (max-width: 400px) {
    .bamboos{
        top: -50ch;
        right: -400vw;
        height: 250%;
        width: 1500px;
        display: none;
    }

    .bamboos2{
        left: 100vw;
    }
}

@keyframes sway {
    0% {
        rotate: -3deg;
     }
    50% {
        rotate: 0deg;
     }
    100% {
        rotate: -3deg; 
    }
}


.bamboo{
    object-fit: fill;
    width: 75%;
    height: 100%;
}