.contact_me_section_profile{
    width: 90%;
    height: 90%;
    border-radius: 50%;
    filter: saturate(45%);
}

.contact_me_section_input{
    flex: 1;
    margin-left: 1rem;
    padding: 1rem;
    font-family: 'Merienda', cursive;
    outline: none;
    border: 0;
    border-bottom: solid 1px;
    resize: none;
    border-radius: 1rem 1rem 0 0;
    background-color: #FFFFFF00;
}

.contact_me_section_input::placeholder{
    color: var(--green-color);
}

.contact_me_section_input:focus{
    border-bottom: solid 4px var(--green-color);
}

.contact_me_section_profile_background{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 100px; 
    height: 100px; 
    background-color: var(--green-color);
}