.home_cover_title{
    font-size: 5rem;
    margin: 1rem 0;
}

.home_cover_tags{
    display: flex;
    justify-content: flex-start;
    margin: 1rem 0;
}

.home_cover_tag{
    margin: 0 0.5rem;
    padding: 0.8rem;
    background-color: var(--dark-green-color);
    color: white;
    border-radius: 2rem;
    cursor: pointer;
    text-align: center;
    font-size: small;
    font-weight: bold;
}

.home_cover_description{
    padding: 0 0.8rem;
}



.flexible_tag {
    width: 80px; 
    text-align: center; 
    transition: width 0.3s ease-in-out; 
}

@keyframes increaseWidth {
    from {
        width: 80px;
    }
    to {
        width: 200px;
    }
}

@keyframes decreaseWidth {
    from {
        width: 200px;
    }
    to {
        width: 80px;
    }
}

.flexible_tag:hover {
    animation: increaseWidth 0.3s forwards;
}

.flexible_tag:not(:hover) {
    animation: decreaseWidth 0.3s forwards;
}

.adaptive_tag{
    background-color: var(--dark-green-color);
    color: white;
}

@keyframes blendIn {
    from {
        background-color: var(--dark-green-color);
        color: white;
    }
    to {
        background-color: #00000000;
        color: var(--dark-green-color);
    }
}

@keyframes blendOut {
    from {
        background-color: #00000000;
        color: var(--dark-green-color);
    }
    to {
        background-color: var(--dark-green-color);
        color: white;
    }
}

.adaptive_tag:hover {
    animation: blendIn 0.3s forwards;
}

.adaptive_tag:not(:hover) {
    animation: blendOut 0.3s forwards;
}

.responsive_tag:hover{
    background-color: var(--green-color);
}