/*for popup css*/

.whole_screen{
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    height: 100svh;
    width: 100vw;
    top: 0;
    left: 0;

    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.popup{
    overflow: auto;
    scrollbar-width: none;
    display: flex;
    justify-content: space-around;
}

.popup h2{
    font-size: 30px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100svh;
    width: 100vw;
    background-color: rgba(19, 40, 14, 0.6); /* Semi-transparent black overlay */
    z-index: 499; /* Below the popup */
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
  }
  