.projects_section_image{
    width: 250px;
    object-fit: contain;
}

.projects_section_card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
    margin: 1rem;
}

.projects_section_description{
    height: 50%;
    overflow: auto;
    width: auto;
    text-overflow: ellipsis;
}